*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost',sans-serif;
}

:root{
    --text-color: #101010;
    --secound-color: #a09dab;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
  }

section{
    padding: 100px;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
}
h1{
    font-size: var(--h2-font);
    color: var(--text-color);
}

.desc{
    font-weight: normal;
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color);
}

.form{
    display: grid;
    place-items: stretch;
    margin-top: 30px;
    text-align: left;
    width: fit-content;
}

.input{
    width: 480px;
    padding: 6px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border-style: solid;
    border-color: #e2e2e4;
}

.desc-input{
    margin-top: 10px
}

.button{
    width: 150px;
    padding: 8px 0px;
    color: white;
    border: 0px;
    border-radius: 8px;
    background-color: blueviolet;
    
}